.post-header {
  .post-title {
    margin: 0 0 10px;
    line-height: 1.4;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $global-font-family;
  }

  .post-link {
    @include underline-from-center;
  }

}

.post-time {
    color: $post-time-font-color;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
 }

 .post-excerpt {
     p {
         margin: 0 0 16px;
     }
 }

.index-post-header {

  // .index-post-title {
  //   margin: 0 0 10px;
  //   line-height: 1.4;
  //   font-size: $post-title-font-size;
  //   font-weight: $post-title-font-weight;
  //   font-family: $global-font-family;
  // }

  .index-post-time {
    float: left;
    //padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: #aaa;
    font-size: 14px;
    line-height: 25px;
    display: block;
  }

  .index-post-title {
    //margin-left: 85px;
    color: #4D89FB;
    display: block;
    .index-post-link {
      color: #4D89FB;
      @include underline-from-center;
    }
  }

  // .index-post-link {
  //   @include underline-from-center;
  // }

}